.CreatePost {
  display: flex;
  align-items: flex-start;
  margin: 20px 0;

  &__title {
    margin-right: 20px;
  }

  &__input {
    width: 500px;
    height: 100px;
    overflow: auto;
    margin-right: 20px;
    padding: 10px;
    border-radius: 5px;
  }

  &__submit {
    background-color: #308654;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    &:hover {
      background-color: #276842;
      color: white;
    }
}

}
